[submodule "themes/hugo-devresume-theme"]
	path = themes/hugo-devresume-theme
	url = https://github.com/cowboysmall-tools/hugo-devresume-theme.git
[submodule "public"]
	path = public
	url = git@github.com:ksoda/ksoda.github.io.git
	branch = master
